
#contentContainer {
    width: 550px;
    height: 350px;
    border: 5px black solid;
    overflow: hidden;

    border-radius: 10px;
    margin: 0 auto;
}

#wrapper {
    width: 2200px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}

.content {
    float: left;
    width: 550px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;
}

#itemOne {
    background: url("./img/dog1.jpg") center center/cover no-repeat;
}

#itemTwo {
    background: url("./img/dog2.jpg") center center/cover no-repeat;
}

#itemThree {
    background: url("./img/dog3.jpg") center center/cover no-repeat;
}

#itemFour {
    background: url("./img/dog4.jpg") center center/cover no-repeat;
}

#navLinks {
    text-align: center;
    width: 550px;
    margin: 0 auto;
}

#navLinks ul {
    margin: 6px 0 0;
    padding: 0;
    display: inline-block;
}

#navLinks ul li {
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 5px;
    border-radius: 50%;
    border: black 5px solid;
}

#navLinks ul li:hover {
    background-color: #FFFF00;
}

#navLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}

#navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}